.textarea_ {
  display: flex;
  justify-content: space-between;
}

.textarea__buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.textarea__buttons--icon {
  outline: none;
  color: lightgrey;
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  height: 20px;
  font-size: 14px;

  &:first-child {
    color: lightgrey;
    &:hover {
      color: black;
    };
  };

  &:hover {
    color: darkcyan;
  }
}