@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.secondary_box {
  @apply rounded-lg border border-secondary bg-white py-1.5 px-5 text-secondary text-center font-medium flex items-center justify-center disabled:opacity-50;
}

.primary_btn {
  @apply rounded-lg border border-primary bg-primary py-1.5 px-5 text-white transition-all hover:bg-white hover:text-primary text-center font-medium flex items-center justify-center disabled:opacity-50 disabled:hover:bg-primary disabled:hover:text-white;
}

.secondary_btn {
  @apply rounded-lg border border-secondary bg-white py-1.5 px-5 text-secondary transition-all hover:bg-secondary hover:text-white text-center font-medium flex items-center justify-center disabled:opacity-50 disabled:hover:bg-white disabled:hover:text-secondary;
}

.light_btn {
  @apply rounded-lg border border-light bg-light py-1.5 px-5 transition-all hover:bg-white hover:border-black text-center font-medium flex items-center justify-center disabled:opacity-50 disabled:hover:bg-light;
}

.danger_btn {
  @apply rounded-lg border border-danger bg-danger py-1.5 px-5 text-white transition-all hover:bg-white hover:text-danger text-center font-medium flex items-center justify-center disabled:opacity-50 disabled:hover:bg-danger disabled:hover:text-white;
}

.link_btn {
  @apply px-2 transition-all text-primary hover:text-gray-500 text-center font-medium flex items-center justify-center disabled:opacity-50;
}

.round_btn {
  @apply rounded-full h-[62px] w-[62px];
}

.icon_btn {
  @apply px-3;
}

.btn_card {
  @apply h-48 w-80 rounded-2xl shadow-md flex items-center justify-center p-4 leading-5 hover:opacity-80 font-bold;
}

.btn_card_back {
  @apply h-48 w-80 rounded-2xl shadow-md flex p-4 flex-col;
}

.sub_btn_card {
  @apply h-14 w-36 bg-white hover:bg-gray-50 justify-center items-center rounded-2xl shadow-md flex p-4 font-bold text-center;
}

.black_scheme {
  @apply bg-black text-white ;
}

.light_scheme {
  @apply bg-gray-100 text-black hover:bg-gray-200;
}

.ellipsis {
  @apply overflow-ellipsis whitespace-nowrap overflow-hidden;
}

.flex_center {
  @apply flex items-center justify-center;
}

.small_padding {
  @apply py-1 px-3;
}